[project]
	description = CHI Firmware Arduino Sketches
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Darcy Watkins (xstreamworship)
[access "refs/for/refs/*"]
	read = group user/Darcy Watkins (xstreamworship)
	push = group user/Darcy Watkins (xstreamworship)
	label-Code-Review = -2..+2 group user/Darcy Watkins (xstreamworship)
	label-Verified = -1..+1 group user/Darcy Watkins (xstreamworship)
	rebase = group user/Darcy Watkins (xstreamworship)
	removeReviewer = group user/Darcy Watkins (xstreamworship)
	submit = group user/Darcy Watkins (xstreamworship)
[access "refs/heads/*"]
	read = group user/Darcy Watkins (xstreamworship)
	create = group user/Darcy Watkins (xstreamworship)
	push = +force group user/Darcy Watkins (xstreamworship)
	pushMerge = group user/Darcy Watkins (xstreamworship)
[access "refs/tags/*"]
	push = group user/Darcy Watkins (xstreamworship)
	push = +force group user/Darcy Watkins (xstreamworship)
